<div>Connected ? {{isPrinterConnected}}</div>

<mat-slide-toggle [disabled]="isConnectDisabled" [checked]="isConnectChecked" (change)="isConnectChecked = !isConnectChecked; mainCheck();" >Connect to Printer</mat-slide-toggle>


<div *ngIf="isPrinterConnected; else noPrinterBlock">

    <div *ngIf="isBusy; else isNotBusy">
        <mat-progress-spinner [value]="progressPrint" ></mat-progress-spinner>
    </div>

    <ng-template #isNotBusy>
        <div>
            <input type="text" [ngModel]="buffer" (ngModelChange)="buffer = $event"/>
        </div>
        <div>
            <button [disabled]="isBusy" (click)="sendToPrinter()">sendToPrinter</button> 
        </div>
    </ng-template>

    {{totalPrint}}

</div>
<ng-template #noPrinterBlock>

</ng-template>
 